body{
	overflow-x: hidden;}
.navbar-inverse{
	background: #fff;
	border-color: #fff;}
.navbar-inverse .navbar-nav>li>a{
	padding: 20px;
	color: #000;}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #000;
	border-bottom: 3px solid orange;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle{
	background: #000;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background: gray;}
.capa{
	background: url(images/capa.jpg)center;
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 65px;}
.capa h1{
	padding: 50px;
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
	text-shadow: 10px;
	text-shadow: black;
	text-align: center;}
.capa p{
	color: orange;
	font-style: italic;}
@media screen and (max-width: 500px){
.logo h1{
		font-size: 25px;}
.logo p{
		font-size: 15px;}}
a:focus, a{
	color: #000;}
a:focus, a:hover{
	text-decoration: none;}
.about{
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;}
.glyphicon{
	padding-top: 20px;
	text-align: center;
	font-size: 50px;}
.cap{
	background: url("images/cap.jpg")center;
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100%;}	
@media screen and (max-width: 650px){
	.cap{
		margin-top: -40px;
		margin-bottom: -70px;}
	.cap h3{
		font-size: 10px;
	}
	}
.cap h3{
	text-align: center;
	color: #000;
	letter-spacing: 20px;
	font-weight: bold;
	padding: 80px;}
.talk{
	text-align: center;
	padding: 20px;
	letter-spacing: 1px;}
footer{
	text-align: center;
	margin-top: 30px;
	padding: 30px 20px 20px 20px;
	background: #000;}
footer h3{
	color: #fff;}
footer p{
	color: gray;
}

